.hover-effect:hover {
    fill-opacity: 30%;
    filter: brightness(150%);
}


ontoggle {
    display: flex;
    display-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.5s ease-in;
}

#mode-toggle {
    position: absolute;
    left: -9999px;
}

.container {

    width: 200px;
    height: 90px;
    position: relative;
    display: flex;
    align-content: center;
    padding-top: 4px;
    padding-inline: 8px;
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: opacity 0.5s ease-in;
}
.light {
    background-color: blue;
    opacity: 1;
}
.dark {
    background-color: black;
    opacity: 0;
}
.ball {
    position: relative;
    z-index: 10;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
    transition: transfors 0.5s ease-in;
}
#mode-toggle:checked ~.container.light {
    opacity: 1;
}
#mode-toggle:checked ~.container.dark {
    opacity: 0;
}
#mode-toggle:checked ~.ball {
    transform: translateX(112px);
}