/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #d8dee9;
    font-family: 'Nunito', sans-serif;
    color: #2d3748;
}
